defaults/flow.json
[{"id":"b1b11140.4e4ef","type":"inject","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"z":"a09be5e0.5f6418","wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"z":"a09be5e0.5f6418","wires":[]}]
[{"id":"a4b9164e.f4e1e8","type":"inject","z":"b1065e0b.74db18","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":true,"x":315,"y":148.04168701171875,"wires":[["7905a1de.7ed42"]]},{"id":"7905a1de.7ed42","type":"http request","z":"b1065e0b.74db18","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","x":493.5,"y":148.04144287109375,"wires":[["bdff7fdf.2f43f8"]]},{"id":"bdff7fdf.2f43f8","type":"csv","z":"b1065e0b.74db18","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":663.0833740234375,"y":148.24993896484375,"wires":[["65f9cf27.8c4168"]]},{"id":"33cc9422.87bf4c","type":"comment","z":"b1065e0b.74db18","name":"Earthquake !!!","info":"","x":308.3333435058594,"y":98,"wires":[]},{"id":"65f9cf27.8c4168","type":"debug","z":"b1065e0b.74db18","name":"","active":true,"console":"false","complete":"payload","x":844,"y":148.04168701171875,"wires":[]}]
